body {
    background-color: #F0EBDA;
}

.container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;    
}

#navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}

.navigation-item {
    margin: 20px 50px;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.navigation-item_active {
    color: brown;
    text-decoration: underline;
}

.nav_link {
    color: black;
    text-decoration: none;
}

.nav_link:hover {
    color: brown;
}


.main-board {
    width: 49%;
    min-height: 50px;
    margin: 0 0.5% 0 1%;
    background-color: #FCDCBA;
}

.main-board_img {
    display: block;
    margin: 40px auto 20px auto;
}

.main-board_info {
    width: 90%;
    margin: 0 auto 40px auto;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: brown;
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
}

.recipe-board {
    width: 24%;
    min-height: 50px;
    margin: 0 0.5%;
    background-color: #FCDCBA;
}

.recipe-board_header,
.ingredient-board_header {
    margin: 10px 0 10px 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    color: brown;
    text-align: center;
    text-decoration: underline;
    line-height: 1.5;
    letter-spacing: 1px;
}

#recipe-board_list,
#ingredient-board_list {
    margin: 0;
    padding: 0;
}

/* Recipe block Item customization STRAT */
/* Customize the label (wrapper) */
.recipe-wrapper {
    display: block;
    position: relative;
    padding: 8px 0 8px 28px;
    margin: 0;
    cursor: pointer;

    font-family: Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: brown;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.recipe-wrapper:hover {
    color: black;
    background-color: pink;
}

/* Recipe highlighted */
.recipe-wrapper + .recipe-highlight {
    background-color: rosybrown;
  }


  /* Hide the browser's default checkbox */
.recipe-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.recipe-checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid brown;
  }

/* On mouse-over, add body-color */
.recipe-wrapper:hover input ~ .recipe-checkmark {
    background-color: #F0EBDA;
    border: 1px solid black;
  }
  
  /* When the radio button is checked, add a body-color */
.recipe-wrapper input:checked ~ .recipe-checkmark {
    background-color: #F0EBDA;
    border: 1px solid black;
  }
  
  /* When the radio button is checked, Label highlighted */
.recipe-wrapper input:checked ~ .recipe-checkmark + .recipe-label_title {
    color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.recipe-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
.recipe-wrapper input:checked ~ .recipe-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
.recipe-wrapper .recipe-checkmark:after {
      top: 3px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: black;
  }
/* Recipe block Item customization END */



.recipe-board_line,
.ingredient-board_line {
    height: 1px;
    width: 90%;
    background-color: brown;
    border: none;
}

.recipe-board_add,
.ingredient-board_add {
    margin: 0;
    padding: 0 0 20px 13px;
    font-family: Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: brown;
    text-decoration: none;
    cursor: pointer;
}

.recipe-board_add:hover,
.ingredient-board_add:hover {
    color: black;
}

.ingredient-board {
    width: 23%;
    min-height: 50px;
    margin: 0 1% 0 0.5%;
    background-color: #FCDCBA;
}

.ingredient-board_clear {
    margin: 0 auto 20px auto;
    padding: 7px 30px;

    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    background-color: brown;
    box-shadow: 0 6px 8px 0 rgba(112, 109, 109, 0.24), 0 9px 25px 0 rgba(148, 114, 114, 0.19);
}

.ingredient-board_clear:focus {
    outline: none;
  }

.ingredient-board_clear:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    background-color: brown;
  }

.ingredient-board_clear:active {
    box-shadow: 0 6px 8px 0 rgba(112, 109, 109, 0.24), 0 9px 25px 0 rgba(148, 114, 114, 0.19);
    background-color: rgb(98, 99, 96);
    color: white;
  }







/* Ingredient block customization */
/* Customize the label (wrapper) */
.ingredient-wrapper {
    display: block;
    position: relative;
    padding: 8px 0 8px 28px;
    margin: 0;
    cursor: pointer;

    font-family: Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: brown;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.ingredient-wrapper:hover {
    color: black;
    background-color: pink;
}

  /* Hide the browser's default checkbox */
.ingredient-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.ingredient-checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid brown;
}

  /* On mouse-over, add body-color */
.ingredient-wrapper:hover input ~ .ingredient-checkmark {
    background-color: #F0EBDA;
    border: 1px solid black;
}
  
  /* When the checkbox is checked, add body-color */
.ingredient-wrapper input:checked ~ .ingredient-checkmark {
    background-color: #F0EBDA;
    border: 1px solid black;
}

  /* When the checkbox is checked, Label highlighted */
.ingredient-wrapper input:checked ~ .ingredient-checkmark + .ingredient-label_title {
    color: black;
}

  /* Create the checkmark/indicator (hidden when not checked) */
.ingredient-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.ingredient-wrapper input:checked ~ .ingredient-checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.ingredient-wrapper .ingredient-checkmark:after {
    left: 5px;
    top: -6px;
    width: 7px;
    height: 15px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}
